.body{
    background-color: black;
}

.bar{
    background-color: red;
    width:25%;
    height:0%;
    position:absolute;
    left:0vh;
    top:0vh;
}
#bar2{
    left:25%;
    background-color:black;
}
#bar3{
    left:50%;
    background-color:red;
}
#bar4{
    left:75%;
    background-color:black;
}

.btn {
  background-color: rgb(2, 29, 110);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top:50%;
  left:50%;
}
.btn:hover {
    background-color: lightblue;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}